<div class="container">
<nav class="sidebar">
    <h2>Your Song Library </h2>
    <ul>
        <li><a href="/home">All Songs</a></li>
        <li><a href="/newsong">Add Song</a></li>
        <li><a href="#">Random Song</a></li>
    </ul>
</nav>
</div>