<!-- Step 3 Add Header -->
<%- include("partials/header.ejs")%>


    <div class="container">
       <h1>this is home!</h1>
    </div>




    <!-- Step 3 Add Footer -->
<%- include("partials/footer.ejs")%>