<!-- Step 3 Add Header -->
<%- include("partials/header.ejs")%>


<main class="welcome-main">
    <div class="welcome-container">
   <h1>Welcome <span class="welcome-title">to SONGLib!  
   <img src="https://img.icons8.com/keek/100/guitar.png" alt="guitar"/>
   </span></h1> 

    <a href="/home">
        <button class="enter-button">Click to enter!</button>
    </a>
    </div>
</main>

<!-- Step 3 Add Footer -->
<%- include("partials/footer.ejs")%>
