<!-- Step 3 Add Header -->
<%- include("partials/header.ejs")%>


    <div class="container">
       <h1>Welcome<span class="welcome-title">to SONGLib!  <img width="100" height="100" src="https://img.icons8.com/keek/100/guitar.png" alt="guitar"/>
       </span></h1> 
      

        <a href="/home">
        <button onclick="gotohome">Click to enter!</button>
        </a>
        
    </div>




    <!-- Step 3 Add Footer -->
<%- include("partials/footer.ejs")%>