<%- include("partials/header.ejs") %>

<div class="container">
    <%- include('partials/navbar.ejs')%>

    <main class="content">
        <div class="form-div">
            <h2 class="form-heading">Login to SongLib</h2>
            <form id="loginForm" action="/login" method="POST">

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <% if (error) { %>
                <div class="message-container error-container">
                    <p><%= error %></p>
                </div>
                <% } %>

                <button type="submit" class="form-btn">Login</button>

            </form>
        </div>
    </main>
</div>

<%- include("partials/footer.ejs") %>
